body {
  text-align: center;
}

.container {
  display: inline-block;
  text-align: left;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group .gender-label {
  display: inline-block;
  margin-right: 10px;
}

.form-group input[type="submit"] {
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: darkblue;
}